<div *nzModalTitle>账号详情</div>

<nz-descriptions nzBordered [nzColumn]="2">
  <nz-descriptions-item nzTitle="姓名" [nzSpan]="2">{{
    data.name
  }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="用户名">{{
    data.username
  }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="状态">
    <app-admin-user-status [status]="data.status"></app-admin-user-status>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="邮箱">{{ data.email }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="手机号">{{ data.phone }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="角色" [nzSpan]="2">
    <app-admin-user-roles [id]="data.id"></app-admin-user-roles>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="创建人">
    <app-admin-user-label [id]="data.created_by"></app-admin-user-label>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="创建时间">{{
    data.created_at | date : "short"
  }}</nz-descriptions-item>
</nz-descriptions>

<div *nzModalFooter>
  <button nz-button (click)="close()">关闭</button>
</div>
