<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="修改密码"
  (nzOnCancel)="close()"
  (nzOnOk)="onOk()"
  [nzOkLoading]="loading"
  [nzCancelLoading]="loading"
>
  <ng-template nzModalContent>
    <form nz-form [formGroup]="formGroup">
      <nz-form-item>
        <nz-form-control nzErrorTip="请输入原密码">
          <app-input
            label="原密码"
            formControlName="old"
            type="password"
          ></app-input>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="长度6到20位的数字字母和特殊字符的组合">
          <app-input
            label="新密码"
            formControlName="new1"
            type="password"
          ></app-input>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
</nz-modal>
