:host {
  nz-affix {
    div.content {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      border-radius: var(--border-radius-base);
      box-shadow: var(--box-shadow-1);
      background-color: white;
      padding: 16px;

      ::ng-deep {
        input,
        nz-input-group {
          width: auto;
        }
      }
    }
  }
}
