<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="重置密码"
  (nzOnCancel)="close()"
  (nzOnOk)="onOk()"
  [nzOkLoading]="loading"
  [nzCancelLoading]="loading"
>
  <ng-template nzModalContent>
    <p>
      正在重置账号<b>{{ data.username }}({{ data.name }})</b>的密码
    </p>
    <form nz-form [formGroup]="formGroup">
      <nz-form-item>
        <nz-form-control nzErrorTip="长度6到20位的数字字母和特殊字符的组合">
          <app-input label="新密码" formControlName="password"></app-input>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <label
            nz-checkbox
            formControlName="logout"
            nz-tooltip
            nzTooltipTitle="修改密码后将使该账号强制注销"
          >
            <span>强制注销</span>
          </label>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
</nz-modal>
