<app-page-content [breadcrumbs]="['用户管理', '用户列表']">
  <app-page-actionbar>
    <app-input
      label="关键词"
      [(ngModel)]="query"
      (enter)="search()"
    ></app-input>
    <app-user-status-select [(ngModel)]="queryStatus"></app-user-status-select>
    <app-search-button
      (search)="search()"
      [loading]="loading"
    ></app-search-button>
  </app-page-actionbar>
  <nz-table
    nzBordered
    #basicTable
    [nzData]="users"
    [nzTotal]="total"
    [(nzPageIndex)]="page"
    [(nzPageSize)]="pageSize"
    [nzLoading]="loading"
    [nzShowSizeChanger]="true"
    [nzFrontPagination]="false"
    nzSize="small"
    (nzPageIndexChange)="onPageChange()"
    (nzPageSizeChange)="onPageChange()"
    [nzShowTotal]="totalTemplate"
  >
    <thead>
      <tr>
        <th>ID</th>
        <th>头像</th>
        <th>昵称</th>
        <th>手机号</th>
        <th>性别</th>
        <th>状态</th>
        <th>创建时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td>{{ (page - 1) * pageSize + i + 1 }}</td>
        <td>
          <!-- {{ data.avatar }} -->
          <app-user-avatar [avatar]="data.avatar"></app-user-avatar>
        </td>
        <td>{{ data.nickname }}</td>
        <td>{{ data.phone }}</td>
        <td>
          <app-user-gender [gender]="data.gender"> </app-user-gender>
        </td>
        <td>
          <app-user-status [status]="data.status"></app-user-status>
        </td>
        <td>
          <app-datetime [text]="data.created_time"></app-datetime>
        </td>
        <td>
          <a nz-dropdown [nzDropdownMenu]="menu">
            <i nz-icon nzType="menu" nzTheme="outline"></i>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu style="min-width: 100px">
              <li nz-menu-item (click)="showUserModal(data)">查看详情</li>
            </ul>
          </nz-dropdown-menu>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <ng-template #totalTemplate let-range="range" let-total>
    总计：{{ total }}
  </ng-template>
</app-page-content>
