<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="账号详情"
  (nzOnCancel)="close()"
  (nzOnOk)="onOk()"
  [nzOkLoading]="loading"
  [nzCancelLoading]="loading"
>
  <ng-template nzModalContent>
    <form nz-form [formGroup]="formGroup">
      <nz-form-item>
        <nz-form-control>
          <app-input label="用户名" formControlName="username"></app-input>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="请输入姓名">
          <app-input label="姓 名" formControlName="name"></app-input>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <app-input label="手机号" formControlName="phone"></app-input>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <app-input label="邮 箱" formControlName="email"></app-input>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="请选择账号状态">
          <app-admin-staff-status-select
            label="状 态"
            formControlName="status"
          ></app-admin-staff-status-select>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
</nz-modal>
