:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 100%;
  nz-breadcrumb {
    font-size: 1.2rem;
    nz-breadcrumb-item {
      *:last-child {
        font-weight: bold;
      }
    }
  }
}
