<app-page-content [breadcrumbs]="['账号管理', '登录管理']">
  <app-page-actionbar>
    <app-admin-staff-select [(ngModel)]="queryStaffID"></app-admin-staff-select>
    <app-admin-staff-token-status-select
      [(ngModel)]="queryStatus"
    ></app-admin-staff-token-status-select>
    <app-search-button
      (search)="search()"
      [loading]="loading"
    ></app-search-button>
  </app-page-actionbar>

  <nz-table
    nzBordered
    #basicTable
    [nzData]="tokens"
    [nzTotal]="total"
    [(nzPageIndex)]="page"
    [(nzPageSize)]="pageSize"
    [nzLoading]="loading"
    [nzShowSizeChanger]="true"
    [nzFrontPagination]="false"
    nzSize="small"
    (nzPageIndexChange)="onPageChange()"
    (nzPageSizeChange)="onPageChange()"
    [nzShowTotal]="totalTemplate"
  >
    <thead>
      <tr>
        <th>序号</th>
        <th>姓名</th>
        <th>设备</th>
        <th>IP地址</th>
        <th>状态</th>
        <th>过期时间</th>
        <th>创建时间</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td>{{ (page - 1) * pageSize + i + 1 }}</td>
        <td>
          <app-admin-staff-label [id]="data.staff_id"></app-admin-staff-label>
        </td>
        <td>{{ data.device }}</td>
        <td>{{ data.ip }}</td>
        <td>
          <app-admin-staff-token-status
            [status]="data.status"
          ></app-admin-staff-token-status>
        </td>
        <td>
          <app-datetime [text]="data.expires_at"></app-datetime>
        </td>
        <td>
          <app-datetime [text]="data.created_time"></app-datetime>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <ng-template #totalTemplate let-range="range" let-total>
    总计：{{ total }}
  </ng-template>
</app-page-content>
