:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  padding: 16px 32px;
  overflow-y: auto;

  nz-breadcrumb {
    font-size: 1.125rem;
    nz-breadcrumb-item {
      *:last-child {
        font-weight: bold;
      }
    }
  }
}
