<div *nzModalTitle>@if (data?.id) { 编辑角色 }@else{ 创建角色 }</div>

<form nz-form [formGroup]="formGroup">
  <nz-form-item>
    <nz-form-label>名称</nz-form-label>
    <nz-form-control nzErrorTip="请输入角色名称">
      <input nz-input formControlName="name" placeholder="角色名称" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>备注</nz-form-label>
    <nz-form-control>
      <textarea nz-input formControlName="remark" placeholder="可选"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>权限</nz-form-label>
    <nz-form-control>
      <app-permission-multiple-checker
        formControlName="permission_ids"
      ></app-permission-multiple-checker>
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button (click)="close()">取消</button>
  <button nz-button nzType="primary" (click)="submit()" [nzLoading]="loading">
    确认
  </button>
</div>
