<form nz-form [formGroup]="formGroup" (ngSubmit)="submit()">
  <nz-form-item nz-row>
    <nz-form-control [nzSpan]="18" [nzOffset]="6">
      <h1>登录{{ appName }}</h1>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" nzFor="username">用户名</nz-form-label>

    <nz-form-control [nzSm]="18" nzErrorTip="请输入用户名">
      <nz-input-group nzPrefixIcon="user">
        <input
          type="text"
          nz-input
          formControlName="username"
          placeholder="至少四位"
          id="username"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" nzFor="password">密码</nz-form-label>

    <nz-form-control [nzSm]="18" nzErrorTip="请输入密码">
      <nz-input-group nzPrefixIcon="lock">
        <input
          type="password"
          nz-input
          formControlName="password"
          placeholder="密码"
          id="password"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" nzFor="captcha">验证码</nz-form-label>

    <nz-form-control [nzSm]="10" nzErrorTip="请填写验证码">
      <nz-input-group nzPrefixIcon="robot">
        <input
          nz-input
          formControlName="captcha"
          placeholder="请填写验证码"
          id="captcha"
        />
      </nz-input-group>
    </nz-form-control>
    <nz-form-control [nzSm]="8">
      <app-login-captcha [t]="t"></app-login-captcha>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <label nz-checkbox formControlName="remember">
        <span> 记住我 </span>
      </label>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row>
    <nz-form-control [nzSpan]="18" [nzOffset]="6">
      <button nz-button class="login" [nzType]="'primary'" type="submit">
        登录
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
