<div class="scrollable" [ngClass]="{ collapsed: isCollapsed }">
  <ul nz-menu [nzMode]="isCollapsed ? 'vertical' : 'inline'">
    @for (menu of menus; track $index) { @if
    (!menu.is_superuser||profile?.is_superuser) {
    <li
      nz-submenu
      [nzTitle]="menu.name"
      [nzIcon]="menu.icon"
      appSaveMenuOpenState
      *appPerms="getAsideMenuPermissions(menu)"
    >
      <ul>
        @for (item of menu.items; track $index) {
        <li
          nz-menu-item
          routerLink="/dashboard{{ menu.link }}{{ item.link }}"
          nzMatchRouter
          routerLinkActive="active"
          *appPerms="item.permission ? [item.permission] : []"
        >
          {{ item.name }}
        </li>
        }
      </ul>
    </li>
    } }
  </ul>
</div>
<button
  nz-button
  nzShape="circle"
  class="trigger"
  nzSize="small"
  (click)="isCollapsed = !isCollapsed"
>
  <span nz-icon [nzType]="isCollapsed ? 'right' : 'left'"></span>
</button>
