/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: "Noto Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

div.flex-spacer {
  flex: 1;
}

* {
  box-sizing: border-box;
}
