<div *nzModalTitle>修改密码</div>

<form nz-form [formGroup]="formGroup">
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="password">新密码</nz-form-label>
    <nz-form-control [nzSpan]="14" nzErrorTip="请输入新密码，至少六位">
      <input
        nz-input
        formControlName="password"
        type="password"
        id="password"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="confirmPassword">确认密码</nz-form-label>
    <nz-form-control [nzSpan]="14" nzErrorTip="两次密码输入不一致">
      <input
        nz-input
        formControlName="confirmPassword"
        type="password"
        id="confirmPassword"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="captcha">验证码</nz-form-label>
    <nz-form-control [nzSpan]="14" nzErrorTip="请输入验证码">
      <app-captcha-input
        formControlName="captcha"
        [captchaUrl]="captchaUrl"
        [t]="captchaDate"
      ></app-captcha-input>
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button (click)="close()">取消</button>
  <button nz-button nzType="primary" (click)="save()" [nzLoading]="loading">
    修改
  </button>
</div>
